<p id="notice"><%= notice %></p>

<h1>All Tables</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Capacity</th>
      <th colspan="3">Interactions</th>
    </tr>
  </thead>

  <tbody>
    <% @tablenames.each do |tablename| %>
      <tr>
        <td><%= tablename.id %></td>
        <td><%= tablename.name %></td>
        <td><%= tablename.capacity %></td>
        <td><%= link_to 'Show', tablename %></td>
        <td><%= link_to 'Edit', edit_tablename_path(tablename) %></td>
        <td><%= link_to 'Destroy', tablename, method: :delete, data: { confirm: 'Are you absolutely sure? You will also delete all sales history of this table  from the system' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tablename', new_tablename_path %>
<hr>
<img src="https://orbitka.files.wordpress.com/2016/04/bodeguita-005.jpg" alt="lbdm-dining hall" />
