<p id="notice"><%= notice %></p>

<h1>Listing Tablenames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tablenames.each do |tablename| %>
      <tr>
        <td><%= tablename.name %></td>
        <td><%= tablename.capacity %></td>
        <td><%= link_to 'Show', tablename %></td>
        <td><%= link_to 'Edit', edit_tablename_path(tablename) %></td>
        <td><%= link_to 'Destroy', tablename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tablename', new_tablename_path %>
