<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tablename.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @tablename.capacity %>
</p>

<%= link_to 'Edit', edit_tablename_path(@tablename) %> |
<%= link_to 'All tables', tablenames_path %>
