<h1>Welcome <%= @user.username %></h1>
<%= button_to "Log Out", '/sessions', method: :delete %>

<h3>This is your profile page</h3>
<p>
  add info about your name, performance and other stuff, do not forget to link the photo
</p>

<div>
  <%= image_tag @user.photo %>
</div>



<%= link_to 'Edit', edit_user_path(@user) %> |<%= link_to 'All waiters', users_path %>
