<h1>You are logged in as "<%= @user.username %>"</h1>
<h3>Your id: <%= @user.id %></h3>

<hr>
<%= button_to "Log Out", '/sessions', method: :delete %>

<hr>
<%= link_to 'Change password', edit_user_path(@user) %> | <%= link_to 'All waiters', users_path %>
<hr>
<img src="/assets/lbdm--003.jpg" alt="trio" />
