<p id="notice"><%= notice %></p>
<h1>All Bills</h1>

<hr>
<h3>OPEN BILLS:</h3>
<hr>

<table>
  <thead>
    <tr>
      <th>Bill No.</th>
      <th>Table id</th>
      <th>Waiter id</th>
      <th>Paid</th>
      <th>Tip</th>
      <th>Created</th>

      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bills.where('paid' => false ).each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= link_to bill.tablename_id, tablename_path(bill.tablename_id) %></td>
        <td><%= link_to bill.user_id, user_path(bill.user_id) %></td>
        <td><%= bill.paid %></td>
        <td><%= bill.tip %></td>
        <td><%= bill.created_at %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<h3>CLOSED BILLS:</h3>
<hr>

<table>
  <thead>
    <tr>
      <th>Bill No.</th>
      <th>Table id</th>
      <th>Waiter id</th>
      <th>Paid</th>
      <th>Tip</th>
      <th>Created</th>

      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bills.where('paid' => true ).each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= link_to bill.tablename_id, tablename_path(bill.tablename_id) %></td>
        <td><%= link_to bill.user_id, user_path(bill.user_id) %></td>
        <td><%= bill.paid %></td>
        <td><%= bill.tip %></td>
        <td><%= bill.created_at %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Bill', new_bill_path %>
<hr>
<img src="/assets/lbdm-004.jpg" alt="bodeguita - hall" />
