<p id="notice"><%= notice %></p>

<p>
  <b>Bill No.:</b>
  <%= @bill.id %>
</p>

<p>
  <b>Waiter id:</b>
  <%= @bill.user_id %>
</p>

<p>
  <b>Tablename:</b>
  <%= @bill.tablename.name %> (id: <%= @bill.tablename_id %>)
</p>


<p>=======here to paste all orders==========</p>
<p>
  <%= @orders %>

</p>

<p>=======end of testing==========</p>

<p>
  <b>Paid:</b>
  <%= @bill.paid %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @bill.tip %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'All bills', bills_path %>
