<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'All bills', bills_path %>


<hr>
<hr>
<table>
<tbody>
    <tr>
      <td><b>Bill No: </b> <%= @bill.id %></td>
      <td><b>Waiter: </b><%= @bill.user.username %> (id:<%= @bill.user_id %>)</td>
      <td><b>Table: </b><%= @bill.tablename.name %> (id:<%= @bill.tablename_id %>)</td>
      <td><b>Paid: </b><%= @bill.paid %></td>
      <td><strong>Tip: </strong><%= @bill.tip %></td>
    </tr>
</tbody>
</table>

<hr>
<hr>

<table>
  <thead>
    <tr>
      <th>Order id</th>
      <th>Meal</th>
      <th>Price</th>
      <th colspan="3">Interactions</th>
    </tr>
  </thead>

  <tbody>
    <% @bill.orders.each do |order| %>
    <% meal = order.meal %>
      <tr>
        <td>No.<%=  link_to order.id, order_path(order.id) %></td>
        <td><%= link_to meal.name, meal_path(meal.id) %></td>
        <td><%=  meal.price %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you absolutely sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
