<p id="notice"><%= notice %></p>

<p>
  <b>Tablename:</b>
  <%= @bill.tablename.name %> (id: <%= @bill.tablename_id %>)
</p>

<p>
  <b>Order:</b>
  <%= @bill.order_id %>
</p>

<p>
  <b>User:</b>
  <%= @bill.user_id %>
</p>

<p>
  <b>Paid:</b>
  <%= @bill.paid %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @bill.tip %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
