<p id="notice"><%= notice %></p>

<h1>All Orders</h1>
<hr>
<p>PENDING ORDERS: </p>
<hr>

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Meal</th>
      <th>Delivered</th>
      <th>Ordered at:</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.where('delivered' => false ).each do |order| %>
      <tr>
        <td><%= link_to order.bill_id, bill_path(order.bill_id) %></td>
        <td><%= link_to order.meal_id, meal_path(order.meal_id) %></td>
        <td><%= order.delivered %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<p>DELIVERED ORDERS: </p>
<hr>
<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Meal</th>
      <th>Delivered</th>
      <th>Ordered at:</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.where('delivered' => true ).each do |order| %>
      <tr>
        <td><%= link_to order.bill_id, bill_path(order.bill_id) %></td>
        <td><%= link_to order.meal_id, meal_path(order.meal_id) %></td>
        <td><%= order.delivered %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Order', new_order_path %>
<hr>
<img src="/assets/lbdm--food.jpg" alt="dinner plate" />
