<!DOCTYPE html>
<html>
<head>
  <title>RESTaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h5>
    <%=  link_to "Home", root_path %>
    |
    <%=  link_to "Log in", log_in_path %>
    |
    <%=  link_to "Waiters", users_path %>
    |
    <%=  link_to "My profile", profile_path %>
    |
    <%=  link_to "Table Names", tablenames_path %>
    |
    <%=  link_to "Bills", bills_path %>
    |
    <%=  link_to "Meals", meals_path %>
    |
    <%= button_to "Log Out", '/sessions', method: :delete %>
  </h5>

  </header>

<%= yield %>

</body>
</html>
