<!DOCTYPE html>
<html>
<head>
  <title>RESTaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li>    <%=  link_to "Waiters", users_path %></li>
      <li>    <%=  link_to "My profile", profile_path %></li>
      <li>    <%=  link_to "Table Names", tablenames_path %></li>
      <li>    <%=  link_to "Bills", bills_path %></li>
    </ul>

  </header>

<%= yield %>

</body>
</html>
